*{
    box-sizing: border-box ;
}
body{

}
.flex-parent{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.flex-child{
    flex: 0 0 99px;
    height: 150px;
    background-color: brown;
}